<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhdx.www.server.dao.UserDao">
	<select id="selectUserByNameAndPwd" resultMap="userMap"
		parameterType="java.util.HashMap">
		select uid,username,password,authority,departMent,area,deep,chName,name
		from user where username = #{userName} and password = #{pwd}
	</select>
    
    <select id="selectUserById" resultMap="userMap"
		parameterType="java.util.HashMap">
		select uid,username,password,authority,departMent,area,deep,chName,name
		from user where uid = #{uid}
	</select>
	
    <select id="selectAdminTreeNodeByParentId" resultMap="adminTreeMap" parameterType="java.util.HashMap">
		select uid as id,name as text from user where parentid = #{uid}
	</select>
	
	<select id="selectUserByParentId" resultMap="userMap" parameterType="java.util.HashMap">
		select uid,username,password,authority,departMent,area,deep,chName,parentid,name from user where parentid = #{parentId}
	</select>
	
	<select id="selectAdminUser" resultMap="userMap" parameterType="java.util.HashMap">
		select uid,username,password,authority,departMent,area,deep,chName,parentid,name from user where parentid = -1
	</select>
	
	<resultMap type="User" id="userMap">
		<id property="uid" column="uid" />
		<result property="userName" column="username" />
		<result property="password" column="password" />
		<result property="authority" column="authority" />
		<result property="departMent" column="department" />
		<result property="area" column="area" />
		<result property="deep" column="deep" />
		<result property="parentid" column="parentid" />
		<result property="chName" column="chName" />
		<result property="name" column="name" />
	</resultMap>

    <resultMap type="AdminTree" id="adminTreeMap">
		<result property="id" column="java.lang.Integer" />
		<result property="text" column="java.lang.String" />
	</resultMap>
</mapper>