<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhdx.www.server.dao.UserDao">
	<select id="selectUserByNameAndPwd" resultMap="userMap"
		parameterType="java.util.HashMap">
		select uid,username,password,authority,departMent,area
		from user where username = #{userName} and password = #{pwd}
	</select>
    
    <select id="selectAdminTreeNodeByParentId" resultMap="adminTreeMap" parameterType="java.util.HashMap">
		select uid as id,username as text from user where parentid = #{uid}
	</select>
	
	<resultMap type="User" id="userMap">
		<id property="uid" column="uid" />
		<result property="userName" column="username" />
		<result property="password" column="password" />
		<result property="authority" column="authority" />
		<result property="departMent" column="department" />
		<result property="area" column="area" />
	</resultMap>

    <resultMap type="AdminTree" id="adminTreeMap">
		<result property="id" column="java.lang.Integer" />
		<result property="text" column="java.lang.String" />
	</resultMap>
</mapper>