<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard - Bootstrap Admin</title>    
    <link href="/listssys/css/bootstrap.min.css" rel="stylesheet" /> 
    <link href="/listssys/css/login.css" rel="stylesheet" /> 
	
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
	
<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 				
			</a>
			
			<a class="brand" ><font style="font-family:'微软雅黑',Arial, Helvetica, sans-serif;">六合电信报表管理系统</font></a>
			
			<div class="nav-collapse">
			
				<ul class="nav pull-right">
					
				</ul>
				
			</div> <!-- /nav-collapse -->
			
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->


<div id="login-container">
	
	
	<div id="login-header">
		
		<h3><font style="font-family:'微软雅黑',Arial, Helvetica, sans-serif;">登录</font></h3>
		
	</div> 
	
	<div id="login-content" class="clearfix">
	
	<form action="./" />
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="username"><font style="font-family:'微软雅黑',Arial, Helvetica, sans-serif;">用户名</font></label>
						<div class="controls">
							<input type="text" class="" id="username" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password"><font style="font-family:'微软雅黑',Arial, Helvetica, sans-serif;">密码</font></label>
						<div class="controls">
							<input type="password" class="" id="password" />
						</div>
					</div>
				</fieldset>
				
				<div class="pull-right">
					<button type="submit" class="btn btn-warning btn-large">
						Login
					</button>
				</div>
			</form>
			
		</div> <!-- /login-content -->
	
</div>

  </body>
</html>
