<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>六合电信自主派单管理系统</title>
  <link rel="shortcut icon" href="/listssys/css/img/favicon.gif">
  <!---CSS Files-->
<link rel="stylesheet" href="/listssys/css/css/ad.css">
  <link rel="stylesheet" href="/listssys/css/css/reset.css">
  <link rel="stylesheet" href="/listssys/css/css/login.css">
  <script src="/listssys/css/jquery-1.7.1.min.js"></script>
  <script src="/listssys/css/jquery.spinner.js"></script>
  <script type="text/javascript" src="/listssys/css/jquery.validate.min.js"></script>
  <script type="text/javascript">
   $(document).ready(function () {
        $('#lg-form').validate();
        $('.submit').click(function() {
        var $this = $(this);
        $this.spinner();
        setTimeout(function() {
                $this.spinner('remove');
        }, 1000);
       });
    });
  </script>
  
</head>
<body>
	<div class="wrapper">
		<div class="logo">
	 	<h1>登录</h1>
	 </div>
   <div class="lg-body">
     <div class="inner">
       <div id="lg-head">
         <p><span class="font-bold">六合电信自主派单管理系统.</span></p>
         <div class="separator"></div>
       </div>
       <div class="login">
         <form id="lg-form" method="post" action="/listssys/login">
           <fieldset>
              <ul>
                 <li id="usr-field">
                  <input class="input required" name="username" type="text" size="26" minlength ="1" placeholder="用户名..." />
                 </li>
                 <li id="psw-field">
                  <input class="input required" name="password" type="password" size="26" minlength="1" placeholder="密码..." />
                 </li>
                 <li>
                  <input class="submit" type="submit" value=""/>
                 </li>
              </ul>
           </fieldset>
          </form>
          <span id="lost-psw">
        	<a href=mailto:haorenting.nj@jsoa.net>联系我(haorenting.nj@jsoa.net)</a>
          </span>
        </div>
     </div>
    </div>
	</div>

</body>
</html>