<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhdx.www.server.dao.ReportDao">
	<select id="selectReports" resultMap="reportMap" parameterType="java.util.HashMap">
		select
		id,servName,prodId,servAddr,accsNbr,ty,speed,startdt,prodTel,bipDataNum,bipDuration,area,rsrc,itvProdId,packName,kpiProdId,phone,wareName,gridName,own,deep,state,chName
		from
		${table}
		<where>
			<if test="isSend !=null and isSend !=''">
				deep = #{user.deep}
	       </if>
			<if test="user.area !=null and user.area !=''">
				and area = #{user.area}
	       </if>
			<if test="user.chName !=null and user.chName !=''">
				and chName = #{user.chName}
	       </if>
		</where>
		order by area,id
		limit #{start},#{size}
	</select>

	<select id="countReports" resultType="java.lang.Long"
		parameterType="java.util.HashMap">
		select ifnull(count(1),0) from ${table}
		<where>
			<if test="isSend !=null and isSend !=''">
				deep = #{user.deep}
	       </if>
			<if test="user.area !=null and user.area !=''">
				and area = #{user.area}
	       </if>
			<if test="user.chName !=null and user.chName !=''">
				and chName = #{user.chName}
	       </if>
		</where>
	</select>

	<update id="updateReportById" parameterType="java.util.HashMap">
		update ${table} set
		state = #{state},
		stateDate = #{stateDate}
		where id = #{id}
    </update>

	<update id="batchUpdateReportWithMap" parameterType="java.util.Map">
		UPDATE ${table}
		<set>
			<if test="user.uid!=null and user.uid!='' ">
				own = #{user.uid}, 
        </if>
			<if test="user.deep!=null and user.deep!='' ">
				deep =#{user.deep},    
        </if>
			<if test="user.chName!=null and user.chName!=''">
				chName=#{user.chName}   
        </if>
		</set>
		WHERE id IN
		<foreach collection="idList" index="index" item="item" open="("
			separator="," close=")">
			#{item}   
	    </foreach>
	</update>

	<resultMap type="Report" id="reportMap">
		<id property="id" column="id" />
		<result property="own" column="own" />
		<result property="servName" column="servName" />
		<result property="prodId" column="prodId" />
		<result property="servAddr" column="servAddr" />
		<result property="accsNbr" column="accsNbr" />
		<result property="ty" column="ty" />
		<result property="speed" column="speed" />
		<result property="startdt" column="startdt" />
		<result property="prodTel" column="prodTel" />
		<result property="bipDataNum" column="bipDataNum" />
		<result property="bipDuration" column="bipDuration" />
		<result property="area" column="area" />
		<result property="rsrc" column="rsrc" />
		<result property="itvProdId" column="itvProdId" />
		<result property="packName" column="packName" />
		<result property="kpiProdId" column="kpiProdId" />
		<result property="phone" column="phone" />
		<result property="wareName" column="wareName" />
		<result property="gridName" column="gridName" />
		<result property="own" column="own" />
		<result property="deep" column="deep" />
		<result property="state" column="state" />
		<result property="chName" column="chName" />
	</resultMap>

	<update id="createTableByName" parameterType="java.util.Map">
		CREATE TABLE
		${table} (
		`id` int(11) NOT NULL auto_increment,
		`servName` varchar(255)
		DEFAULT NULL,
		`prodId` varchar(255) DEFAULT NULL,
		`servAddr`
		varchar(255) DEFAULT NULL,
		`accsNbr` varchar(255) DEFAULT NULL,
		`ty`
		varchar(255) DEFAULT NULL,
		`speed` varchar(255) DEFAULT NULL,
		`startdt`
		varchar(255) DEFAULT NULL,
		`prodTel` varchar(255) DEFAULT NULL,
		`bipDataNum` varchar(255) DEFAULT NULL,
		`bipDuration` varchar(255)
		DEFAULT NULL,
		`area` varchar(255) DEFAULT NULL,
		`rsrc` varchar(255)
		DEFAULT NULL,
		`itvProdId` varchar(255) DEFAULT NULL,
		`packName`
		varchar(255) DEFAULT NULL,
		`kpiProdId` varchar(255) DEFAULT NULL,
		`phone` varchar(255) DEFAULT NULL,
		`wareName` varchar(255) DEFAULT
		NULL,
		`gridName` varchar(255) DEFAULT NULL,
		`areaName` varchar(50)
		DEFAULT NULL,
		`chName` varchar(255) DEFAULT NULL,
		`own` varchar(255)
		DEFAULT NULL,
		`deep` int(11) DEFAULT 0,
		`state` varchar(255) DEFAULT
		'未外呼',
		`stateDate` timestamp NULL DEFAULT NULL ON UPDATE
		CURRENT_TIMESTAMP,
		PRIMARY KEY (`id`)
		)DEFAULT CHARSET=utf8;
	</update>

	<insert id="batchAddReports" parameterType="java.util.List">
		INSERT INTO ${table} (servName, prodId,
		servAddr,accsNbr,ty,speed,startdt,prodTel,bipDataNum,bipDuration,area,rsrc,itvProdId,packName,kpiProdId,phone,wareName,gridName,areaName,chName
		)
		VALUES
		<foreach collection="reports" item="item" index="index"
			separator=",">
			(#{item.servName}, #{item.prodId}, #{item.servAddr},
			#{item.accsNbr}, #{item.ty}, #{item.speed}, #{item.startdt},
			#{item.prodTel}, #{item.bipDataNum}, #{item.bipDuration},
			#{item.area}, #{item.rsrc}, #{item.itvProdId}, #{item.packName},
			#{item.kpiProdId}, #{item.phone}, #{item.wareName}, #{item.gridName},
			#{item.areaName}, #{item.chName})
		</foreach>
	</insert>
</mapper>