<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhdx.www.server.dao.ReportDao">
	<select id="selectReports" resultMap="reportMap" parameterType="java.util.HashMap">
		select id,name,acc,addr,area,phone,startdt,enddt,own from ${table}
		order by id
		limit #{start},#{size}
	</select>
	
	<select id="countReports" resultType="java.lang.Long" parameterType="java.util.HashMap">
		select ifnull(count(1),0) from ${table}
	</select>
	
	<resultMap type="Report" id="reportMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="acc" column="acc" />
		<result property="phone" column="phone" />
		<result property="addr" column="addr" />
		<result property="area" column="area" />
		<result property="startdt" column="startdt" />
		<result property="enddt" column="enddt" />
		<result property="own" column="own" />
	</resultMap>

</mapper>